.BG-container-2 {

    display: flex;
    flex-direction: row;
    gap: 24px;

    @media (max-width:770px) {
        flex-direction: column;
    }
}

.ghnj {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 94%;
    height: 91vh;
    padding: 32.5px;

    @media (max-width:770px) {
        width: auto;
        padding: 40px;
    }

}

.trendingImg {
    color: red;
    font-size: 40px;
}

.iconback {
    /* width: 100%; */
    /* height: 14vh; */
    /* width: 100%; */
    /* height: 150px; */
    /* background-color: rgb(241, 241, 241); */
    /* display: flex; */
    /* padding: 20px 20px 20px 45px; */
    background-color: #fff;
    background-color: rgb(224, 233, 240);
    padding: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 30px;

    @media (max-width:770px) {
        padding: 15px;
        width: 50px;
        height: 50px;
        margin-right: 15px;

    }
}

.tendingIcon {
    padding-top: 15px;
    width: 94%;
    height: 100px;
    background-color: rgb(241, 241, 241);
    display: flex;
    padding: 20px 20px 20px 45px;
    align-items: center;

    @media (max-width:770px) {
        width: auto;
    }
}

.trendingVIdeos {
    width: 80%;
    height: 92vh;
    overflow-y: scroll;
    scrollbar-width: none;

    @media (max-width:770px) {
        width: 100vw;
    }
}

.changeHead {
    font-size: 24px;

    @media (max-width:770px) {
        font-size: 18px;
    }
}

.Video_photo {
    width: 35%;
    min-height: 32vh;

    @media (max-width:770px) {
        width: 100%;
    }
}

.text-trend {
    font-size: 40px;
    font-family: 700;

    @media (max-width:770px) {
        font-size: 25px;
    }
}